<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hb.rssai">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".app.ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">

        <!-- 解决7.0安装apk失败问题 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".view.common.LoadActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.subscription.AddSourceActivity"/>
        <activity android:name=".view.subscription.SourceListActivity"/>
        <activity android:name=".view.common.ContentActivity"/>
        <activity
            android:name="com.zbar.lib.CaptureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name=".runtimePermissions.PermissionsActivity"/>
        <activity android:name=".view.me.CollectionActivity"/>
        <activity android:name=".view.me.AboutActivity"/>
        <activity android:name=".view.me.SettingActivity"/>
        <activity android:name=".view.subscription.HotTagActivity"/>
        <activity android:name=".view.common.QrCodeActivity"/>
        <activity android:name=".zxing.ImageCropActivity"/>
        <activity android:name=".view.subscription.SubListActivity"/>
        <activity android:name=".view.me.AdviceActivity"/>
        <activity android:name=".view.common.LoginActivity"/>
        <activity android:name=".view.me.MessageActivity"/>
        <activity android:name=".view.me.MessageContentActivity"/>
        <activity android:name=".view.common.RegisterActivity"/>
        <activity android:name=".view.common.RichTextActivity"/>
        <activity android:name=".view.subscription.tab.TabResourceActivity"/>
        <activity android:name=".view.me.SearchActivity">
        </activity>
        <activity android:name=".view.me.UserActivity">
        </activity>
        <activity android:name=".view.me.EditSignatureActivity">
        </activity>

        <!-- 设置社会化分享 开始 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- wechat callback -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 设置社会化分享 结束 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf">
        </meta-data>

        <activity android:name=".view.me.OfflineActivity">
        </activity>

        <service
            android:name=".view.service.DownNewsService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>